.contact-form {
  background: $light-blue;
  border-radius: 13px;
  max-width: 58.1rem;
  min-height: 61rem;
  height: 100%;
  margin: 0 auto;
  margin-top: 1rem;
  padding: 2rem;
}

.contact-form-input-group {
  font-size: 2rem;
  line-height: 3.1rem;
  font-weight: 500;
  display: flex;
  flex-direction: column;
}

.contact-form-label {
  margin-bottom: 2rem;
}

.contact-form-input {
  border-width: 1px;
  border-radius: 13px;
  border-style: solid;
  min-height: 5.8rem;
  padding: 1rem;
  font-size: 1.8rem;
  font-weight: lighter;
}

.contact-form-textarea {
  border-radius: 13px;
  border-style: solid;
  border-width: 1px;
  font-size: 1.8rem;
  font-weight: lighter;
  padding: 1rem;
}

.contact-form-button {
  border-radius: 13px;
  border-style: solid;
  border-width: 1px;
  font-size: $font-size-large;
  min-height: 5.7rem;
  background: $alternative-blue;
  color: white;
  transition: all 0.2s ease-in;

  &:hover {
    background: white;
    color: $alternative-blue;
    border-color: $alternative-blue;
  }
}
