.delivered-projects-section-page {
  background: $light-blue;
}

.delivered-project-paragraph {
  padding: 1.5rem 0;
}

.delivered-container {
  margin: 0 auto;
  max-width: 89rem;
  min-height: 63rem;
  padding: 8rem 1rem;
}
