.header-section {
  background: url("../../images/header-section-background.png");
  background-size: cover;

  height: 884px;

  @media screen and (min-width: 768px) {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.header-container {
  height: 90%;
}

.hero-title {
  font-size: $font-size-extraLarge;
  font-weight: bold;

  @media screen and (min-width: $desktop-large-breakpoint) {
    padding: 0 5rem;
  }
}
