.services-section-column {
  margin-bottom: 2rem;
}

.services-section-card {
  border-style: solid;
  border-width: 1px;
  border-radius: 13px;
  margin: 0 auto;
  padding: 3rem;

  @media screen and (min-width: $desktop-medium-breakpoint) {
    min-height: 35rem;
    min-height: 425px;
  }

  @media screen and (min-width: $desktop-large-breakpoint) {
    margin: 0;
    max-width: 403px;
  }
}

.services-section-card-body {
  font-size: $font-size-normal;
  font-style: normal;
  font-weight: normal;
  line-height: 23px;
}
